/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */
.logo {
  width: 270px;
  height: 80px;
  margin: 11px 10px 0 20px;
  float: left;
  cursor: pointer !important; }

.main {
  width: 800px;
  margin: 0 auto;
  border-bottom: 1px solid #d0d1d3; }

.iconosHome {
  vertical-align: middle;
  padding-left: 30px; }

