<table border="0" cellpadding="0" cellspacing="0" width="732">

						<tbody>
							<tr>

								<td>
								<img src="/gtelcom-theme/images/gtelcom/top_left.jpg" alt=""
									height="139" width="93">
									</td>

								<td alt="" height="139" valign="top" width="538">
								<object
										classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
										codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0"
										height="139" width="538">

										<param name="movie" value="/gtelcom-theme/images/gtelcom/swf/flash/header.swf">

										<param name="quality" value="high">

										<embed src="/gtelcom-theme/images/gtelcom/swf/header.swf" quality="high"
											pluginspage="http://www.macromedia.com/go/getflashplayer"
											type="application/x-shockwave-flash" height="139" width="538">
									</object>
									
									</td>

								<td><img src="/gtelcom-theme/images/gtelcom/top_right.jpg" alt=""
									height="139" width="101"></td>

							</tr>

						</tbody>
					</table>